@tailwind base;
@tailwind components;
@tailwind utilities;

/* Noto color emoji */
@font-face {
  font-family: "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  src: url("/vendor/fonts/nce/nce.woff2") format("woff2");
}

.dn2-btn-grp > button {
  @apply h-full w-fit py-1 px-2;
}

.dn2-btn-grp > button:not(:first-child) {
  @apply border-l dark:border-gray-700 border-gray-400;
}

/* 
html {
  font-size: 100%;
  height: 100%;
}

body {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Noto Color Emoji", Roboto, sans-serif;

  letter-spacing: normal;
  margin: 0;
  height: 100%;

  position: relative;
  z-index: 1;
  display: block;
  overflow: auto;
}

h1 {
  font-size: 2.25rem;
}

@media (min-width: 414px) {
  h1 {
    font-size: calc(1.3rem + 3.6vw);
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 56.8px;
  }
}

.sidenav-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidenav-menu {
  background-color: #b5b5b5;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  min-width: fit-content;
}

.sidenav-children {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.list-button {
  padding: 0.5rem 1rem;
}

hr {
  display: block;
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: hsla(0, 0%, 100%, 0.12);
}

span.version-info {
  font-size: small;
  margin-left: auto;
} */
